header{
    width: 100%;
    height: 25%;
    background-color: lightblue;
    float: left;
}
.nav-link{
    transition: 0.3s ease;
}
.nav-link :hover{
    color: blueviolet;
    cursor: pointer;
}
section{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    float: left;
    background-image: url(pics/backgroundImage.png);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
span{
    color: red;
}
#btn{
    background-color: red;
    color: white;
}
article{
    width: 100%;
    height: 800px;
    background-color:black;
    float: left;
}
#btn1{
    background-color: red;
    color: white;
}
#btn2{
background-color: red;
    color: white;
}
#btn3{
background-color: red;
    color: white;
}
#btn4{
background-color: red;
    color: white;
}
#btn5{
    background-color: red;
    color: white;
}
#btn6{
    background-color: red;
    color: white;
}
#btn7{
    background-color: red;
    color: white;
}
#btn8{
     background-color: red;
    color: white;
    margin-top: 20px;
    margin-left: 620px;
}
aside{
    width: 100%;
    height:800px ;
    background-color: black;
    float: left;
    
}
.img{
    text-align: center;
    
}
footer{
    width: 100%;
    height: 300px;
    background-color: black;
    float: left;
}
span{
    color: palevioletred;
}